<header class="home">
	<div class="overlay">
<h2 class="title">PLANTAS</h2>
<p>En esta sección encontrarás el contenido subido por tod@s los usuari@s, puedes añadir tus favoritos y ver más información.</p>
		</div>
</header>

<div class="plants">
{{#each plants}}
<div id="listplant">
<h3 id="">{{name}}</h3>
<div class="container_favorite">
<!--Valor favorite: {{isFavorite}}
id: {{_id}}-->
{{#if isFavorite}}
<form action="/favourites/{{_id}}" method="POST">
    <button type="submit" class="favorite"><img id="like" alt="" src="/img/me-gusta.png" /></button>
</form>
{{else}}
<form action="/favourites/{{_id}}" method="POST">
<button type="submit" class="favorite"><img id="like" alt="" src="/img/me-gusta-border.png" /></button>
</form>
{{/if}}
</div>
<img alt="" src="{{image}}">
<a href="/list/{{_id}}">Ver más</a>
</div>
{{/each}}
</div>
