<div class="plants">
{{#each plants}}
<div id="listplant">
{{#if isFavorite}}
<form action="/favourites/{{_id}}" method="POST">
    <button type="submit" class="favorite"><img alt="Heart-empty" src="/img/me-gusta.png"></button>
</form>
{{else}}
<form action="/favourites/{{_id}}" method="POST">
<button type="submit" class="favorite"><img alt="Heart" src="/img/me-gusta.png"></button>
</form>
{{/if}}
<h3 id="">{{name}}</h3>
<img alt="" src="{{image}}">
<a href="/list/{{_id}}">Details</a>
</div>
{{/each}}
</div>
