<div class="plants">
{{#each plants}}
<div id="listplant">
{{#if isFavorite}}
<form action="/favourites/{{_id}}" method="POST">
    <button type="submit">Retirar de favoritos</button>
</form>
{{else}}
<form action="/favourites/{{_id}}" method="POST">
<button type="submit">Agregar a favoritos</button>
</form>
{{/if}}
<h3 id="">Nombre: {{name}}</h3>
<img alt="" src="{{image}}">
<a href="/list/{{_id}}">Detalles</a>
</div>
{{/each}}
</div>
