


{{#if user}}
<header class="home">
	<div class="overlay">

<div class="profile">
  <h2>Bienvenid@ a tu perfil</h2>
  <h3>{{ user.username }}</h3>
  <img alt="" src="{image}">
<!--<form action="/profile" method="POST" enctype="multipart/form-data" >
    <label for="name">Imagen</label>
    <input type="file" name="image" id="image"  multiple>
</form>-->
  <a href="/favourites" class="fav">Favoritos</a>
 </div>
 </div>
</header>

{{> newPlant}}

<div class="plants">

{{#each user.createdPlants}}
<div id="listplant" class="listprofile">
<h3>{{name}}</h3>
<img alt="" src="{{image}}">
<p>{{description}}</p>
<p>
Autor: {{author.username}}
</p>
<div  class="editar">
<a  href="/plant-detail/{{_id}}">Editar</a>
</div>
{{> deletePlant}}
</div>
{{/each}}


</div>

{{/if}}