
{{#if user}}
<div class="profile">
  <h2>Bienvenid@, {{ user.username }}!</h2>
  <p>Este es tu perfil!</p>
  <img alt="" src="{image}">
 </div>
{{> newPlant}}

<div class="plants">

{{#each user.createdPlants}}
<div id="listplant">
Nombre: {{name}}
<img alt="" src="{{image}}">
Descripción: {{description}}
Autor: {{user.username}}
<a href="/plant-detail/{{_id}}">Editar</a>
{{> deletePlant}}
</div>
{{/each}}


</div>

  
    <a href="/favourites">Favoritos</a>

{{/if}}