<h1>Private page</h1>
{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>This is your profile page my friend!</p>

{{> newPlant}}

<div>
{{#each user.createdPlants}}
Name: {{name}}
<img alt="" src="{{image}}">
Description: {{description}}
Autor: {{user.username}}
<a href="/plant-detail/{{_id}}">Edit</a>

{{> deletePlant}}
{{/each}}

</div>

  
    <a href="/favourites">Favoritos</a>

{{/if}}