


{{#if user}}
<header class="home">
	<div class="overlay">

<div class="profile">
  <h2>Bienvenid@ a tu perfil</h2>
  <h3>{{ user.username }}</h3>
  <img alt="" src="{image}">
  <a href="/favourites" class="fav">Favoritos</a>
 </div>
 </div>
</header>

{{> newPlant}}

<div class="plants">

{{#each user.createdPlants}}
<div id="listplant">
Nombre: {{name}}
<img alt="" src="{{image}}">
Descripción: {{description}}
<p>
Autor: {{author.username}}
</p>
<a href="/plant-detail/{{_id}}">Editar</a>
{{> deletePlant}}
</div>
{{/each}}


</div>

{{/if}}