<header class="home">
	<div class="overlay">
<h2 class="title">Detalles</h2>
		</div>
</header>

<h3 class="detailstitle" id="name">{{name}}</h3>
<div class="details">
<img alt="" src="{{image}}">
  <div class="marco">
<p id="description">{{description}}</p>
<h5 id="Autor">Autor: {{author.username}}</h5>
</div>
</div>
<!-- Formulario para comentar la planta -->
<div>
{{#each review.reviews}}
   <p>{{reviews.message}}</p>
   <p>{{reviews.author}}</p>
{{/each}}
</div>

<h5>Envia un mensaje a {{author.username}}!</h5>
<div class="comentario">
  <form action='/list/{{_id}}' method='POST'  enctype="multipart/form-data" >
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<button type="submit" style="border: 1px solid #000;">Enviar mensaje</button>
</form>
</div>