<header class="home">
	<div class="overlay">
<h2 class="title">Detalles</h2>
<p>Puedes dejar un comentario a <b>{{author.username}}</b></p>
		</div>
</header>

<h3 class="detailstitle" id="name">{{name}}</h3>
<div class="details">
<img alt="" src="{{image}}">
  <div class="marco">
<p id="description">{{description}}</p>
<h5 id="Autor">Autor: {{author.username}}</h5>
</div>
</div>
<!-- Formulario para comentar la planta -->
<div class="comentarios">
  <h2>Comentarios</h2>
{{#each reviews}}
<div class="cadacomentario">
<h6>{{review.author.username}}</h6>
   <p>{{review.message}}</p>
   </div>
{{/each}}

<div class="comentario">
<h5>Envia un mensaje!</h5>
  <form action='/list/{{_id}}/addreview' method='POST' >
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
<button type="submit" >Enviar</button>
</form>
</div>
</div>